<!--<div id="bookshelf_modal" class="modal hide fade in" style:"display:none; ">
	<div class="modal changed-modal">
	</div>
</div>-->

<ul class="bookshelf" id="bookshelf_ul">

</ul>

<script type="text/javascript">
	var b = new BookshelfManager("bookshelf_ul");
</script>

