<div id="options" class="row text-container">
	<ul id="menu-opts" class="nav nav-pills">
		<li><%= link_to (!@current_user.id.eql?(@user.id)) ? @user.first_name : "Home", :controller => "users", :action => "show", :id => @user.id %></li>
		<li class="divider-vertical"></li>
		<li><%= link_to ((!@current_user.id.eql?(@user.id)) ? @user.possessive : "My") + " Library", :controller => "users", :action => "books", :id => @user.id %></a></li>
		<li class="divider-vertical"></li>
		<li><%= link_to ((!@current_user.id.eql?(@user.id)) ? @user.possessive : "My") + " Requests", :controller => "users", :action => "requests"%></a></li>
		<li class="divider-vertical"></li>
	</ul>
</div>