<%= form_for(:application_feedback, :method =>:post, :html=>{:class=>"form-horizontal", :id=>"application_feedback_form"}) do |f| %>
	<div class="modal-header">  
		<a class="close" data-dismiss="modal">×</a> 		
		<h3>What do you think?</h3>  		
	</div>  
	<div class="modal-body"> 		
		<%= f.text_area :comment, :class=>"input-xlarge", :id=>"application_feedback[comment]", :rows=>3%>		
		<%= f.hidden_field :user_id, :value => @current_user.id.to_s %>	
		<%= f.hidden_field :page, :value=> @page %>			

	</div>  
	<div class="modal-footer">  
		<a href="#" id="submit_button" class="btn btn-success">Submit</a>  
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>  
	</div>  
<%end%>
					