<div class="container-fluid" id="main-inner">
	<div class="row">
		<!-- left side -->
		<div class="span3 no-indent" id="book-details">
			<div class="book-profile">
			    <a href="#" class="thumbnail bookcover">
  					<img src="http://placehold.it/180x260" alt="">
				</a>
			</div>
			<br/>
		</div>
		
		<!-- right main -->
		<div class="span8" id="book-info">
			This page is porbably not necessary anymore. (this is books/index)
			<!-- %= render :partial => "book_info" %-->
		</div>
	</div>
	<!-- %= render :partial => "book_owners" % -->
</div>